{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="form-signin w-75 mt-3 mx-auto">
        {{ form_start(registrationForm) }}
            <img class="mb-4" src={{ asset("assets/image/movie-icon-png-2.jpg") }} alt="" width="72">
            <h1 class="h3 mb-3 fw-normal">Inscription</h1>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="w-100 btn btn-lg btn-primary">Inscription</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
