{% extends 'base.html.twig' %}

{% block title %}Films index{% endblock %}

{% block body %}
    <h1>Films index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Release_date</th>
                <th>Version</th>
                <th>Director</th>
                <th>Duration</th>
                <th>Synopsis</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.name }}</td>
                <td>{{ film.releaseDate ? film.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ film.version }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.duration }}</td>
                <td>{{ film.synopsis }}</td>
                <td>{{ film.slug }}</td>
                <td>
                    <a href="{{ path('app_films_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('app_films_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_films_new') }}">Create new</a>
{% endblock %}
